/*==========
   å…¬å…±æ ·å¼
 ==========*/

*{
  padding:0;
  margin:0;
  font-family:'å¾®è½¯é›…é»‘';
}

img{
  border:none;
}

li{
  list-style:none;
}

a{
  text-decoration:none;
}

::selection{
    background-color: #b3d4fc;
    text-shadow: blanchedalmond;
}

.clearfix:before,
.clearfix:after{
    content: " ";
    display: table;
}
.clearfix:after{
    clear: both;
}

/*=== æµè§ˆå™¨å‡çº§æç¤º ===*/

.top-browserupgrade{
  position:fixed;
  top:0;
  left:0;
  right:0;
  padding-bottom:4px;
  background-color:rgb(238, 220, 155);
  z-index:100;
}

.top-browserupgrade p{
  padding:0 10px;
  min-height:24px;
  line-height:24px;
  font-size:16px;
  color:#333;
  font-family:'å¾®è½¯é›…é»‘';
}

.top-browserupgrade p span{

}

.top-browserupgrade p span a{
  color:#06F;
  text-decoration:underline;
}

.top-browserupgrade p span a:hover{
  color:#096;
  cursor:pointer;
}

#closeBrowserUpgrade{
  position:absolute;
  right:40px;
  top:10px;
  width:50px;
  height:28px;
  line-height:28px;
  text-align:center;
  background-color:#FFF;
}

#closeBrowserUpgrade:hover{
  background-color:#EEE;
}

/*===æœç´¢æ¡†===*/
.top-container{
  min-width:1400px;
  height: 30px;
  position:relative;
}
.top-mask{
  background-color: #c6c2c2;
  opacity: 0.5;
  filter: opacity(50);
  width:100%;
  height: 30px;
  position: absolute;
  top:0;
}
.top-cont{
  position:absolute;
  width: 100%;
  top:0;
}
.search-box{
  width:1400px;
  height: 30px;
  line-height: 26px;
  margin: 0 auto;
}
.top-link{
  float: right;
}
.top-link a{
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 0px;
  color: #333333;
  margin: 0 40px 0 0;
}
.top-link a:hover{
  color: #0096ff;
}
.top-search{
    float: right;
}
.top-search form,.top-search input,.top-search input:focus{
  -web-kit-appearance:none;
  -moz-appearance: none;
  background: none;
  border: none;
  color: #fff;
  font-height:13px;
  outline: none;
}
#searchsubmit{
  width: 16px;
  height: 16px;
  background: url('../../images/pc/search.png') no-repeat;
  margin: 0  14px 0 0;
  filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";  
  -moz-background-size:100% 100%;  
  background-size:100% 100%;
}
#s{
  width: 150px;
  height: 18px;
  font-size: 12px;
  padding:0 0 0 20px;
  border-radius: 10px;
  background-color: #999999;
  *background:url('../../images/pc/border.png') no-repeat;
  +background:url('../../images/pc/border.png') no-repeat;
  background:url('../../images/pc/border.png') no-repeat\0;
}
@media only screen and (max-width: 1400px){
  .top-container{
    min-width:1000px;
  }
  .search-box{
    width:1000px;
  }
}
/*=== æ ç›® ===*/

.column{
}

.column .column-top{
   height:40px;
   border-bottom:3px solid #F0F0F0;
}

.column .column-top h3,
.column .column-top h4{
  float:left;
  display:inline-block;
  min-width:74px;
  height:40px;
  margin-right:12px;
  line-height:40px;
  font-size: 18px;
  color:#808080;
  cursor:pointer;
  text-align:center;
}

.column .column-top h3>a,
.column .column-top h4>a{
  font-size: 18px;
  color:#808080;
}
.column .column-top h4>a:hover{
  color:#333;
}
.column .column-top h3.active a{
  color:#333;
}

.column .column-top h3.active{
  margin-bottom:-3px;
  border-bottom:3px solid #0096FF;
  color:#333;
}

.column .column-top .column-more{
  float:right;
  margin-right:10px;
  line-height:40px;
  color:#808080;
}

.column .column-top .column-more:hover{
  color:#0096FF;
}

.column .column-main{
  margin-top:38px;
  background-color:#FFF;
}

.column .column-main>ul{
  display:none;
}

.column .column-main>ul.active-box{
  display:block;
}

.column .column-main>div{
  display:none;
}

.column .column-main>div.active-box{
  display:block;
}

/*==========
   åŸºç¡€æ ·å¼
 ==========*/

.wrap{
  min-width:1000px;
}

/*=== å¤´éƒ¨ ===*/

.header{
  min-width:1400px;
  height:auto;
}

.hd-cont{
  width:1400px;
  height:114px;
  margin:0 auto;
  background:url('../../images/pc/bg-gym.png') no-repeat right top;
}

.hd-cont .home-link{
  float:left;
  margin-top:20px;
}

.hd-cont .fosu-motto{
  float:right;
  margin-top:52px;
}

/*=== å¯¼èˆªæ  ===*/
.sub-menu {
    margin: -1px 0 0 0;
}
.hd-nav{
  min-width:1400px;
  background-color:#0096FF;
}

.hd-nav .nav-cont{
  position:relative;
  z-index:10;
  width:1400px;
  height:54px;
  margin:0 auto;
}

.hd-nav .nav-cont .menu{
  height:54px;
  background:url('../../images/pc/nav-cloud-r.png') no-repeat right center;
  
}

.hd-nav .nav-cont .menu>li{
  position:relative;
  float:left;
  width:12.5%;
  height:54px;
  text-align:center;
  line-height:54px;
}

.hd-nav .nav-cont .menu>li:first-child{
  background:url('../../images/pc/nav-cloud-l.png') no-repeat left center;
}

.hd-nav .nav-cont .menu>li:hover{
  background-color:#FFF;
  box-shadow:1px 1px 4px #999;
}

.hd-nav .nav-cont .menu>li:first-child:hover{
  background:none;
  background-color:#FFF;
}

.hd-nav .nav-cont .menu>li:hover>a{
  color:#0096FF;
}

.hd-nav .nav-cont .menu li a{
  font-size:18px;
  color:#FFF;
}

.hd-nav .nav-cont .menu>li ul{
  
}

.hd-nav .nav-cont .menu>li:hover{
  *background:url('../../images/pc/bg-nav.png') no-repeat center bottom;
  *background-color:#fafafa;
}

.hd-nav .nav-cont .menu>li:hover ul{
  
}

.hd-nav .nav-cont .menu>li:hover ul li:first-child:after{
  content:'';
  position:absolute;
  left:50%;
  bottom:0;
  width:0;
  height:0;
  margin-left:-11px;
  background-color:#FFF;
  border-bottom:10px solid #0096FF;
  border-left:10px solid #FFF;
  border-right:10px solid #FFF;
}

.hd-nav .nav-cont .menu>li ul{
  /*overflow:hidden;*/
}

.hd-nav .nav-cont .menu>li ul li{
  display:none;
  background:url('../../images/pc/bg-blue.png');
  background:rgba(0,150,255,.5);
}

.hd-nav .nav-cont .menu>li ul li:hover{
  background-color:rgb(0,150,255);
}

.hd-nav .nav-cont .menu>li ul li:hover a{
  color:#FFF;
}

/*=== é¢åŒ…å±‘å’Œä¸Šä¸‹ç¯‡ ===*/

.bread{
  float: right;
  height: 13px;
  font-size: 14px;
  color: #666666;
  text-align: right;
  font-weight: normal;

}

.bread a{
  font-size: 14px;
  color: #666666;
}

.bread a:hover{
  font-size: 14px;
  text-decoration: underline;
  color: #0096ff;
}

.content-item {
    min-height: 400px;
}

.pian a{
  color: #0096FF;
}


/*=== åº•éƒ¨ ===*/

.footer{
  min-width:1400px;
  background:url('../../images/pc/bg-footer.png') no-repeat center bottom;
  background-color:#0096FF;
  font-size:16px;
}

.footer .ft-cont{
  width:1336px;
  height:112px;
  padding:0 32px;
  margin:0 auto;
  color:#FFF;
}

.footer .ft-left{
  float:left;
  margin-top:20px;
  margin-right:158px;
}

.footer .ft-left li{
  height:23px;
  margin-bottom:4px;
  line-height:23px;
}

.footer .ft-middle{
  float:left;
  margin-top:20px;
}

.footer .ft-middle li{
  height:23px;
  margin-bottom:4px;
  line-height:23px;
}

.footer .ft-right{
  float:right;
  margin-top:20px;
  margin-right:20px;
}

.footer .ft-right li{
  min-height:23px;
  margin-bottom:4px;
  line-height:23px;
}

.footer .ft-right li.ft-icon{
  margin-top:10px;
  letter-spacing:10px;
}

.footer .ft-right li.ft-icon img{
  height:60px;
}


/*=== ä¾§è¾¹æ  ===*/

.slider-left{
  background-color: #0096ff;
  width: 15.6%;
  box-sizing: border-box;
  float: left;
}

.slider-left>li>h1{
  height: 42px;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 42px;
  letter-spacing: 0px;
  color: #fcfcfc;
  text-align:center;
}

.slider-left>li{
  background:url('../../images/cloud.png') no-repeat left top;
}

.slider-left>li>ul{
  margin: 0 0 0 15px;
  background: #fff;
  overflow:hidden;
}

.slider-left>li>ul>ul>li{
  height: 42px;
  text-align: center;
  box-sizing: border-box;
  color: #fcfcfc;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 42px;
}

.slider-left>li>ul>ul>li a{
  display: block;
  margin: 0 0 0 6px;
  border-bottom: 1px solid rgb(153,153,153); 
  color:#666;
}

.slider-left>li>ul>ul>li.cur{
  border-left: 7px rgb(219,183,107) solid;
}

.slider-left>li>ul>ul>li.cur a{
  margin: 0 0 0 0;
  color:#0096FF;
}


/*=======================
       1000PXæ ·å¼
 ========================*/

@media only screen and (max-width:1400px){

  .column .column-top h3{
    font-size: 16px;
  }

  .column .column-top h3>a{
    font-size: 16px;
  }

  /*=== å¤´éƒ¨ ===*/

  .header{
    min-width:1000px;
  }

  .hd-cont{
    width:1000px;
  }

  /*=== å¯¼èˆªæ  ===*/

  .hd-nav{
    min-width:1000px;
    background-color:#0096FF;
  }

  .hd-nav .nav-cont{
    width:1000px;
    height:48px;
  }

  .hd-nav .nav-cont .menu{
    height:48px;
  }

  .hd-nav .nav-cont .menu>li{
    height:48px;
    line-height:48px;
  }

  .hd-nav .nav-cont .menu>li a{
    font-size:16px;
  }


  /*=== é¢åŒ…å±‘å’Œä¸Šä¸‹ç¯‡ ===*/

  .bread{
    float: right;
    height: 26px;
    font-size: 14px;
    color: #666666;
    text-align: right;
  }

  .bread a{
    font-size: 14px;
    color: #666666;
  }

  .bread a:hover{
    font-size: 14px;
    text-decoration: underline;
    color: #0096ff;
  }

  .content-item {
      min-height: 400px;
  }

  .pian a{
    color: #0096FF;
  }

  /*=== åº•éƒ¨ ===*/

  .footer{
    min-width:1000px;
    font-size:12px;
  }

  .footer .ft-cont{
    width:980px;
    padding:0 10px;
  }

  .footer .ft-left{
    margin-right:116px;
  }

  .footer .ft-right{
    margin-top:30px;
  }

  .footer .ft-right li.ft-icon img{
    height:40px;
  }

}